<html>
    <head>
        <title>Stream</title>
    </head>
    <body>
        <h1>Video Stream</h1>
	
        <img src="{{ url_for('video_feed') }}">

	<button class="command start" value="start"> Start </button>
	<button class="command stop" value="stop"> Stop </button>

	<script>
		addEventListener("DOMContentLoaded", function() {
			var commandButtons = document.querySelectorAll(".command");
			for (var i=0, l=commandButtons.length; i<l; i++) {
				var button = commandButtons[i];
				button.addEventListener("click", function(e) {
					e.preventDefault();
					var clickedButton = e.target;
					var command = clickedButton.value;

					var request = new XMLHttpRequest();
					
					request.open("GET", "/"+command, true);
					request.send();
				});
			}

		});
	</script>
    </body>
</html>
