<html>
    <head>
        <title>Stream</title>
    </head>
    <body>
        <h1>Video Stream</h1>
	
        <img src="{{ url_for('video_feed') }}">

	
	<script>
		
		
		        var map = {}; // You could also use an array
                        //direction structure can be used later to improve the UX on double key commands 
                        var direction_structure = {forward: 0, backward: 0, leftward: 0, rightward: 0, left_forward:0, right_forward: 0, left_backward: 0, right_backward: 0, left_rotate: 0, right_rotate: 0};
			onkeydown = onkeyup = function(e){
    			    e = e || event; // to deal with IE
    			    map[e.keyCode] = e.type == 'keydown';
    			    /* insert conditional here */
			    processKeys(map, direction_structure)
			}

			function processKeys(key_map, dir_struct) {
				const LEFT = 37;
				const UP = 38;
				const RIGHT = 39;
				const DOWN = 40;
				const A = 65;
				const D = 68;

				const Z = 90;
				const X = 88;
				const C = 67;
				const V = 86;
				const B = 66;
				const N = 78; 

				const W = 87; // [move arm up]
				const S = 83; // [move it down] 
				
				var request = new XMLHttpRequest();

				// optimization, keep track if 2 or more keys are pressed in opposit directions as one variable
				// if all of them pass then you can branch on it 

				var norotate = !key_map[A] && !key_map[D]
			
				if (key_map[LEFT] && !key_map[RIGHT] && !key_map[UP] && !key_map[DOWN] && norotate){

					console.log("moving left");
					request.open("GET", "/motion/leftward/"+ Date.now().toString(), true);
					request.send();
				}

			
				else if (key_map[LEFT] && !key_map[RIGHT] && key_map[UP] && !key_map[DOWN] && norotate) {

					console.log("moving diagonally left forward");
					request.open("GET", "/motion/diagonal_left_forward/" + Date.now().toString(), true);
					request.send();
				}

		
				else if (key_map[LEFT] && !key_map[RIGHT] && !key_map[UP] && key_map[DOWN] && norotate) {

					console.log("moving diagonally left backward");
					request.open("GET", "/motion/diagonal_left_backward/" + Date.now().toString(), true);
					request.send();

				}


				else if (!key_map[LEFT] && key_map[RIGHT] && !key_map[UP] && !key_map[DOWN] && norotate) {

					console.log("moving right");
					request.open("GET", "/motion/rightward/" + Date.now().toString(), true);
					request.send();
				}

		
				else if (!key_map[LEFT] && key_map[RIGHT] && key_map[UP] && !key_map[DOWN] && norotate) {
					console.log("moving diagonally right and forward");
					request.open("GET", "/motion/diagonal_right_forward/" + Date.now().toString(), true);
					request.send();
				}

				else if (!key_map[LEFT] && key_map[RIGHT] && !key_map[UP] && key_map[DOWN] && norotate) {
					console.log("moving diagonally right and backwards");
					request.open("GET", "/motion/diagonal_right_backward/" + Date.now().toString(), true);
					request.send();
				}

				else if (!key_map[LEFT] && !key_map[RIGHT] && key_map[UP] && !key_map[DOWN] && norotate) {

					console.log("moving forward");
					request.open("GET", "/motion/forward/" + Date.now().toString(), true);
					request.send();
				}

				else if (!key_map[LEFT] && !key_map[RIGHT] && !key_map[UP] && key_map[DOWN] && norotate) {
					console.log("moving backward");
					request.open("GET", "/motion/backward/" + Date.now().toString(), true);
					request.send();
				}


				else if (!key_map[LEFT] && !key_map[RIGHT] && !key_map[UP] && !key_map[DOWN] && key_map[A] && !key_map[D]) { 
					console.log("rotating to the left");
					request.open("GET", "/motion/rotate_left/" + Date.now().toString(), true);
					request.send();
				}

				else if (!key_map[LEFT] && !key_map[RIGHT] && !key_map[UP] && !key_map[DOWN] && !key_map[A]  && key_map[D]) {
					console.log("rotating to the right");
					request.open("GET", "/motion/rotate_right/" + Date.now().toString(), true);
					request.send();
				}

				else if (!key_map[Z] && key_map[X]) {
					console.log("closing grabber");
					request.open("GET", "/manipulation/grabber_change/-5/" + Date.now().toString(), true);
					request.send();
				}

				else if (key_map[Z] && !key_map[X]) {
					console.log("opening grabber");
					request.open("GET", "/manipulation/grabber_change/5/" + Date.now().toString(), true);
					request.send();

				}

				else if (!key_map[C] && key_map[V]) {
					console.log("rotating hand negative");
					request.open("GET", "/manipulation/wrist_rotate/-5/" + Date.now().toString(), true);
					request.send();
				}

				else if (key_map[C] && !key_map[V]) {
					console.log("rotating hand positive");
					request.open("GET", "/manipulation/wrist_rotate/5/" + Date.now().toString(), true);
					request.send();
				}

				else if (!key_map[B] && key_map[N]) {
					console.log("flexing arm negative");
					request.open("GET", "/manipulation/wrist_flexion/-5/" + Date.now().toString(), true);
					request.send();
				}

				else if (key_map[B] && !key_map[N]) {
					console.log("flexing arm positive");
					request.open("GET", "/manipulation/wrist_flexion/5/" + Date.now().toString(), true);
					request.send();
				}

				else if (key_map[W] && !key_map[S]) {
					console.log("lifting arm");
					request.open("GET", "/motion/up/" + Date.now().toString(), true);
					request.send()
				}

				else if (!key_map[W] && key_map[S]) {
					console.log("lowering arm");
					request.open("GET", "/motion/down/" + Date.now().toString(), true);
					request.send()
				}
				
				else {
					console.log("unidentified key combination, stopping");
					request.open("GET", "/motion/stop/" + Date.now().toString(), true)
					request.send();
				}

			}

	</script>
    </body>
</html>
